<div class="footer__button">
  <img class="footer__button__img" src="./assets/images/ico-arrow.svg" alt="Up arrow icon" title="Scroll up" />
</div>
<nav class="footer__menu">
  <ul class="footer__menu__list">
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">articles</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">books</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">events</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">reasons</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">tips</a>
    </li>
  </ul>
  <ul class="footer__menu__contact">
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">twitter</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">instagram</a>
    </li>
    <li class="footer__menu__item">
      <a href="#" class="footer__menu__link">mastodon.social</a>
    </li>
  </ul>
</nav>
<div class="footer__text">
  <p class="footer__text__copy">&copy; 2017</p>
  <p class="footer__text__love">
    we
    <span class="footer__text__love--heart">
      &#10084;
    </span>
    components
  </p>
</div>
