<h2 class="reasons__title">
  3 reasons to purchase
</h2>
<div class="reasons__article">
  <article class="reasons__article--first">
    <h3 class="reasons__article__title">
      Ut sed metus
    </h3>
    <p class="reasons__article__text">
      Lorem ipsum dolor sit amet, consectetur.
    </p>
  </article>
  <article class="reasons__article--second">
    <h3 class="reasons__article__title">
      Curabitur ac erat
    </h3>
    <p class="reasons__article__text">
      Mauris mattis urna quis lorem molestie.
    </p>
  </article>
  <article class="reasons__article--third">
    <h3 class="reasons__article__title">
      Morbi dictum
    </h3>
    <p class="reasons__article__text">
      Aliquam in dolor et dolor tincidunt.
    </p>
  </article>
</div>
<div class="reasons__button">
  More reasons
</div>
