<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Final evaluation</title>

    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="header" id="toTheTop">
      <partial src="_header.html"> </partial>
    </header>
    <main class="main">
      <section class="hero__container">
        <partial src="_hero.html"></partial>
      </section>
      <section class="tips__container" id="tipy">
        <partial src="_tips.html"> </partial>
      </section>
      <section class="reasons__container" id="reasonsPurchase">
        <partial src="_reasons.html"> </partial>
      </section>
    </main>
    <footer class="footer">
      <partial src="_footer.html"> </partial>
    </footer>
  </body>
</html>
