@import "../core/_variables.scss";

.footer {
  background-color: $color-footer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 0 45px;
  &__button {
    top: -3%;
    right: 46%;
    background-color: $color-primary;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    &__img {
      margin-top: 10px;
    }
  }
  &__menu {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    padding-bottom: 30px;
    text-transform: $upAll;
    text-align: center;
    &__list {
      font-size: $sizeFooter;
      line-height: 1.88;
    }
    &__item {
      display: flex;
      justify-content: center;
    }
    &__link {
      color: $color-primary;
      text-decoration: none;
    }
  }
  &__text {
    color: $color-primary;
    font-size: 14px;
    &__love--heart {
      color: $color-button;
    }
  }
  @media all and (min-width: 768px) {
    padding: 45px 39px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    &__button {
      top: -6%;
    }
    &__menu {
      order: 2;
      padding-bottom: 0;
      width: 210px;
      padding-left: 30px;

      &__item {
        justify-content: flex-start;
      }
    }
    &__text {
      order: 1;
      text-align: start;
      width: 210px;
    }
  }
  @media all and (min-width: 1024px) {
    &__menu {
      width: 159px;
    }
    &__text {
      width: 159px;
    }
  }
}
