@import "../core/_variables.scss";

.footer {
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__button {
    transform: translateY(-20px);
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__menu {
    display: flex;
    font-size: $sizeFooter;
    flex-direction: column;
    padding-top: 60px;
    font-size: $sizeFooter;
    text-transform: $upAll;

    text-align: center;
    &__list,
    &__contact {
      padding-bottom: 30px;
      font-size: $sizeFooter;
      line-height: 1.88;
      letter-spacing: normal;
      border: olive 2px solid;
    }
    &__item {
      display: inline;
      display: flex;
      justify-content: center;
    }
    &__link {
      color: $color-primary;
      text-decoration: none;
    }
  }
  &__text {
    color: $color-primary;
    padding-bottom: 45px;
    line-height: 2.14;
    letter-spacing: normal;
    font-size: $sizeSmall;
    &__love--heart {
      color: $color-button;
    }
  }
}
