.header {
  /* Position */
  position: fixed;
  &__btn {
    /* Sizing */
    width: 44px;
    height: 44px;
    /* Flexbox */
    display: flex;
    justify-content: center;
    /* Background styles */
    background-color: $color-header;
  }
}
