.hero {
  /* Sizing */
  height: 100vh;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  /* Background styles */
  background: url("../../assets/images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  &__title {
    color: $color-primary;
  }
  //   &__text {
  //   }
  //   $__button {
  //   }
}
