@import "../core/_variables.scss";
.reasons {
  &__container {
    background-color: $color-tips;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__title {
    text-align: center;
    padding-bottom: 45px;
    font-size: $sizeTitle;
    text-transform: $upFirst;
    padding-top: 30px;
    font-weight: $bold;
  }
  &__article {
    display: grid;
    text-align: center;
    grid-gap: 45px 70px;
    grid-template-columns: 200px;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 0 30px;
    }
    &__text {
      padding-top: 14px;
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: chocolate;
    margin: 45px auto 0;
    line-height: 1rem;
    color: white;
    display: flex;
    align-items: center;

    justify-content: center;
    transition: transform 2s;

    &:hover {
      transform: rotate(45deg);
    }
  }
}
