@import "../core/_variables.scss";
.reasons {
  &__container {
    background-color: $color-tips;
    padding-bottom: 60px;
  }
  &__title {
    text-align: center;
    padding-bottom: 45px;
    font-size: $sizeTitle;
    text-transform: $upFirst;
    font-family: $fontTitle;
    padding-top: 30px;
    font-weight: $bold;
  }
  &__article {
    display: grid;
    grid-gap: 45px 0;
    justify-content: center;
    grid-template-columns: 184px;
    grid-template-rows: 1fr 1fr 1fr;

    &__title {
      font-family: $fontTitle;
      text-align: center;
      font-size: 18px;
    }

    &__text {
      text-align: center;
      font-size: 18px;
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-button;
    margin: 45px auto 0;
    color: $color-primary;
    text-transform: $upFirst;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;

    &:hover {
      transform: rotate(45deg);
    }
  }
  @media all and (min-width: 768px) {
    &__title {
      font-size: 26px;
    }
    &__article {
      grid-template-columns: 210px 210px 210px;
      grid-template-rows: 1fr;
      grid-gap: 0 30px;
      &__title {
        font-size: 24px;
      }
      &__text {
        padding-top: 14px;
        font-size: 20px;
      }
    }
    &__button {
      width: 210px;
      margin-top: 60px;
    }
  }
  @media all and (min-width: 1024px) {
    &__title {
      font-size: 32px;
      padding-top: 60px;
    }
    &__article {
      grid-template-columns: 350px 350px 350px;
    }
    &__button {
      width: 255px;
    }
  }
}
