@import "../core/_variables.scss";

.tips {
  &__container {
    padding-top: 30px;
    padding-left: 15px;
  }
  &__title {
    text-transform: $upFirst;
    color: $color-title;
    font-size: $sizeSmall;
    font-weight: $regular;
    padding-bottom: 1px;
    line-height: 30px;
  }
  &__first {
    display: flex;
    flex-direction: column;

    &--title {
      width: 290px;
      text-transform: $upFirst;
      font-family: $fontTitle;
    }
    &--text {
      font-size: $sizeText;
      line-height: 30px;
      padding-top: 15px;
      color: $color-text;
    }
  }
  &__button {
    margin: 30px 0 45px 0;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color-button;
    color: $color-button;
    text-transform: $upAll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media all and (min-width: 768px) {
  }
}
