// colors
$color-primary: #fff;
$color-header: #0271bc;
$color-button: #f26002;
$color-title: #8ccbea;
$color-tips: #eff9ff;
$color-footer: #304268;

//fonts
$font: "Roboto";
$weightMedium: 500;
$weightRegular: 400;
$weightBold: 700;

//size
$sizeHero: 2.1rem;
$sizeTitle: 1.2rem;
$sizeButton: 1rem;
$sizeText: 0.9rem;
$sizeFooter: 0.8rem;
$sizeSmall: 0.7rem;

//uppercase
$upAll: uppercase;
$upFirst: capitalize;
