// colors
$color-primary: #fff;
$color-header: #0271bc;
$color-button: #f26002;
$color-title: #8ccbea;
$color-tips: #eff9ff;
$color-footer: #304268;
$color-text: #4a4a4a;

//fonts
$fontTitle: "Roboto Slab", serif;
$fontText: "Roboto", sans-serif;
$medium: 500;
$regular: 400;
$bold: 700;

//size
$sizeHero: 2.1rem; //42px
$sizeTitle: 1.2rem; //24px
$sizeButton: 1rem; //20px
$sizeText: 0.9rem; //18px
$sizeFooter: 0.8rem; //16px
$sizeSmall: 0.7rem; //14px

//uppercase
$upAll: uppercase;
$upFirst: capitalize;
